/* Réglages de base */

body {
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

/* ----------------- ANTOINE ------------------ */

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(9, 52, 28, 1);
    padding: 0px;
    text-align: center;
    font-size: 20px;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
    list-style-type: none;
}

.navbar li {
	height: 40px;
	margin: 20px 15px 20px 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex; 
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
    color: rgb(255, 205, 96);
}

.connexion {
    border: 2px solid white;
    border-radius: 10px;
}

.connexion:hover {
    border: 2px solid rgb(255, 205, 96);
}

/* Image de fond + titre */

.fond {
    padding-top: 20px;
    background-image: url('montagne2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 120vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.titre {
    justify-content: center;
    align-items: center;
    margin: 250px auto;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
    background-color: rgba(9, 52, 28, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.titre h1 {
    margin:0px; 
    color: rgb(255, 205, 96);
    font-size: 90px; 
}

.titre p {
    margin: 0px; 
    color: white;
    font-size: 36px;
}

.recherche form {
	display: flex;
	width: 800px;
	margin: 70px auto;
}

.recherche input[type="search"] {
	flex: 1;
	width: 600px;
	height: 60px;
	padding: 8px;
	border: 1px solid rgba(9, 52, 28, 1);
	border-radius: 5px 0 0 5px;
}

.recherche button {
	padding: 8px;
	height: 60px;
	background-color: rgb(255, 205, 96, 1);
	color: white;
	border: 1px solid rgba(255, 205, 96, 1);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.recherche button:hover {
	background-color: rgba(9, 52, 28, 1);
	border: 1px solid rgba(9, 52, 28, 1);
}


/* Explication du site */

.content {
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.separateur {
    height: auto;
    font-size: 50px;
    color: rgba(9, 52, 28, 1);
}

.case {
    display: flex;
    margin: 25px auto;
    background-color: white;
    width: 70%;
    height: 150px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.case img {
    margin: 5px;
    width: 20%;
}

.case p {
    text-align: justify;
    margin: auto 10px;
    width: 80%;
}

.content h1 {
    color: rgba(9, 52, 28, 1);
}

/* Carte */

.destinations {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carte {
    position: relative;
    width: 1025px;
    height: 845px;
    background-image: url('carte.png');
    border: 2px solid #000;
}

.point {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 205, 96);
    border-radius: 50%;
    cursor: pointer;
}

.point::after {
    content: attr(data-name);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.point:hover::after {
    opacity: 1;
}

.point.alpes {top: 41%; left: 48.5%;}
.point.pyrenees {top: 42.5%; left: 46.5%;}
.point.himalaya {top: 48.5%; left: 70%;}
.point.oural {top: 33%; left: 63%;}
.point.caucase {top: 41.5%; left: 58.5%;}
.point.rocheuses {top: 42%; left: 14%;}
.point.andes {top: 64%; left: 27%;}
.point.appalaches {top: 43%; left: 25%;}
.point.carpates {top: 41%; left: 53.5%;}
.point.atlas {top: 47%; left: 46%;}
.point.alpes-japonaises {top: 45%; left: 85%;}
.point.alpes-sud {top: 75%; left: 93.5%;}

/* Barre d'information */

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(9, 52, 28, 1);
    color: white;
    width: 100%;
    height: 100px;
}

.info p {
    margin : 0px 25px;
}


/* ----------------- TOM ------------------ */


.formulaire{
    text-align: center;
    font-family: arial;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    color: rgb(255, 205, 96);
    background-color: rgba(9, 52, 28,0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.formulaire h1{
    padding-top: 20px;
    font-size:90px;
}

.formulaire input,.formulaire button{
    width: 80%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.formulaire button{
    margin: 10px 20px 30px 20px;
    font-size: 25px;
    background-color: rgb(255, 205, 96);
    color:white;
}

.formulaire input{
    margin: 20px 20px 10px 20px;
    font-size: 20px;
}

.utilisateur{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.liste_util{
    text-align: center;
    font-family: Arial;
    padding: 25px;
    width: 90%;
    margin: auto;
    margin-top: 10%;
    background-color: rgba(9, 52, 28,0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.liste_util h1{
    color:rgb(255, 205, 96);
    font-size: 90px;
}

.liste_util table{
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-color: #000;
    border-radius: 8px;
}
.liste_util th, .liste_util td{
    font-size:18px;
    padding: 10px;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.liste_util th{
    background-color: rgb(255, 205, 96);
    color: white;
    text-align: center;
}

.vip, .ban{
    font-size: 25px;
    border-radius: 8px;
    border-color: rgb(255, 205, 96);
    background-color: white;
    color:rgb(255, 205, 96);
}

.vip:hover{
    color:white;
    background-color: rgb(255, 205, 96);
}

.ban:hover{
    color:white;
    background-color: rgb(255, 205, 96);
}

/* ----------- Manfred (page recherche) --------------- */

.filtre {
    width: fit-content;
    margin: auto;
    background-color: #ffffff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.filtre ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px 10px;
}

.filtre ul li {
    padding: 0px 25px;
}

.filtre select {
    border-radius: 10px;
    padding: 5px;
}

.filtre input[type="date"] {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
}

.filtre input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 4px;
    background: #ffcd60;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.filtre input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #09341c;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.annonces-container {
    margin: 20px 0px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.annonce {
    width: 150px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 0px;
    padding-top:0px;
    height: 200px;
}

.annonce img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.annonce p {
    margin-top: 0px;
    font-size: 18px;
    color: #000;
}

.annonce button{
    cursor: pointer;
    border: none;
    background-color: #0000;
}

.annonce button:hover{
    transform: scale(1.1);
}

.swpage{
    margin: auto;
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 25px;
    justify-content: center;
}

.swpage button{
    background-color: #0000;
    border: none;
    width: fit-content;
    height: fit-content;
}

.swpage button:hover{
    transform: scale(1.5);
}

.swpage img{
    height: 50px;
    width: 50px;  
}


/* ----------------- Manfred (page profil) ------------------ */


.voyages_utilisateur ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2%;
    margin :0px;
}

.voyages_utilisateur li{
    margin: 0px;
    padding: 0;
}


.voyages_utilisateur p{
    margin: 0px;
    padding: 0px;
}
.text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 205, 96);
}

.contenu{
    display: flex;
    margin-top: 150px;
}

.contenu h2 {
    color: #ffcd60;
    margin: 0px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(9, 52, 28,1);
    padding: 20px;
    width: 15%;
    height: 550px;
    margin: 0px 10px;
    border-radius: 10px;

}

.menu .pfp {
    width: 200px;
    height: 200px;
}

.menu button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    margin: 10px 0px;
    font-size: 18px;
}

.menu button:hover {
    background-color: #ffffff50;
    color: #ffcd60;
}

.voyages_utilisateur{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    width: 80%;
    height: 570px;
}

.profil label {
    font-size: 18px;
    text-align: left;
}

.profil input {
    text-align: left;
    width: 500px;
    height: 30px;
    margin: 15px 0px;
    padding: 5px 5px;
    border-radius: 10px;
    border: 1px solid black;
}

.modifier {
    background-color: #0000;
    color: #09341c;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
}

.modifier:hover {
    color: #ffcd60;

}

#next_gauche1, #next_gauche2 {
   
    left: 0;
    margin-top:100px;
}


#next_droite1, #next_droite2 {
    
    right: 0;
    margin-top:100px
}


/*-----------------------voayge_personnalisé-------------------------------------*/

 body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            font-family: Arial, sans-serif;
            background-color: transparent;
            background-image: url('montagne2.jpg');
        }

        .container {
            display: flex;
            justify-content: center;
            gap: 0px;
            padding: 0px;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 0%;
            margin-top: 7%;
            padding-left: 0px;
            background-color: rgba(9, 52, 28, 1);
            border-radius: 3%;
            height:600px;
        }

        .container p {
            color: white;
        }

        .bloc_description_voyage, .bloc_detail_voyage, .bloc_p_voyage {
            height: 100%;
            box-sizing: border-box;
            margin-left: 0;
            margin-right: 0;
        }

        .bloc_description_voyage {
            width: 35%;
            background-color: rgba(9, 52, 28, 1);
            text-align: center;
            padding-top: 2%;
        }

        .bloc_description_voyage img {
            width: 90%;
            height: 40%;
        }

        .bloc_description_voyage p {
            margin-right: 5%;
            margin-left: 0%;
        }

        .bloc_detail_voyage {
            width: 40%;
            background-color: rgb(0, 0, 0);
            padding-bottom: 350px;
        }

        .bloc_detail_voyage p {
            background-color: rgba(9, 52, 28, 0);
            color: rgb(255, 255, 255);
            margin-top: 2%;
            margin-left: 0px;
        }

        .bloc_detail_voyage h1 {
            background-color: rgba(9, 52, 28, 1);
            color: rgb(255, 255, 255);
            margin-top: 5%;
            margin-left: 0%;
        }

        .bloc_detail_voyage ul {
            display: flex;
            list-style: none;
            gap: 0;
            margin-left: 0px;
        }

        .bloc_detail_voyage li {
          
            margin-left: 0px;
        }


        .bloc_detail_voyage form {
            color: white;
            margin: 0%;
        }

        .bloc_p_voyage {
            width: 40%;
            background-color: rgba(9, 52, 28, 1);
            position: relative; /* Ajouté pour le positionnement relatif des étapes */
        }

        .bloc_p_voyage h1 {
            background-color: rgba(9, 52, 28, 1);
            color: rgb(255, 255, 255);
            margin-top: 0px;
            margin-left: 2%;
        }

        .bloc_p_voyage p {
            background-color: rgba(9, 52, 28, 1);
            color: rgb(255, 255, 255);
            margin-top: 0px;
            margin-left: 0%;
        }

        .bloc_p_voyage ul {
            gap: 0%;
            display: flex;
            list-style: none;
        }

        .bloc_p_voyage li {
            gap: 5%;
            display: grid;
            justify-content: center;
        }

        .bloc_p_voyage img {
            width: 125px;
            height: 68px;
        }

        .bloc_p_voyage button{
         margin-left: 27px;
        }


        .resume {
            background-color: black;
            color: white;
            margin-left: 2%;
        }

        .container h2 {
            font-size: medium;
            color: yellow;
            margin: 0;
        }

        .container ul {
            gap: 5%;
            display: flex;
        }

        .container button {
            height: 90%;
        }

        .resume ul {
            display: flex;
        }

        .counter {
            font-size: 100%;
            margin: 2%;
            color: #faf611;
        }

        b {
            color: #faf611;
        }

        .qdza button {
            width: 20px;
            height: 20px;
            font-size: 20px;
            font-weight: bold;
            border: none;
            border-radius: 10px;
            background-color: #c1c1c1;
            color: #000000;
            cursor: pointer;
            transition: transform 0.2s ease;
        }

        .ligne {
            display: flex;
            flex-direction: row;
            gap: 7px;
            align-items: center;
            margin-left:15px;
        }

        .ligne p {
            margin-bottom: 8px;
            padding: 0;
        }

        .ligne ul {
            margin: 0;
            padding: 0;
        }

        .etape {
            width: 100%;
            height: 100%;
            padding: 20px;
            display: none;
            transition: opacity 0.5s;
        }

        .etape p {
            background-color: rgba(9, 24, 16, 0);
            color: rgb(255, 255, 255);
            margin-top: 0px;
            margin-left: 0%;
        
        }

        .etape.active {
            display: block;
        }
        
        .navigation-buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
        }


        .bloc_p_voyage form label {
    color: white;
    margin-right: 10px; 
}


.bloc_p_voyage input[type="checkbox"] {
    margin-right: 5px;
}

.voyagelist{
    display:flex;
    flex-direction: column;
}

.navigation-buttons{
padding-top: 0px;
margin: 0px;

}

.aligné{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.tag{
    background-color: #000;
    color: white;
    font-size: small;
    height: 20px;
    width: 70px;
    border-radius: 5px;
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(9, 52, 28, 1);
    color: white;
    width: 100%;
    height: 100px;
}

.info p {
    margin : 0px 25px;
}

/* Panier */

.pagepanier{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.avancee{
    margin: auto;
    background-color: rgba(9, 52, 28,0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 8px;
    width: 80%;
    font-size: 20px;
    color: #ffcd60;
}

.block{
    margin: 30px;
    display: flex;
    justify-content: center;
}

.panier {
    background-color: rgba(9, 52, 28,0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 50%;
    height: 600px;
    margin-right: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagepanier h1{
    font-size: 36px;
    color: #ffcd60;
}

.pagepanier p{
    font-size: 30px;
    color: white;
}
.pagepanier button{
    padding: 15px;
    font-size: 30px;
    border-radius: 8px; 
    border: 1px solid #000;
    background-color: rgb(255, 205, 96);
    color: white;
}

.pagepanier a{
    text-decoration: none;
}

.paiement { 
    background-color: rgba(9, 52, 28,0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 40%;
    height: 300px;
    border-radius: 8px;
}



.voyage_panier {
    width: 450px;
    background: white;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 0px;
    height: 150px;
    margin-bottom: 2px;
}

.voyage_panier img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.voyage_panier p {
    margin-top: 0px;
    font-size: 18px;
    color: #000;
}

.voyage_panier button{
    cursor: pointer;
    border: none;
    background-color: #0000;
}

.annonce button:hover{
    transform: scale(1.1);
}

.liste{
list-style: none;
}

.simple_btn{
height: 30px; 
width: 50px;
color: black;
}