body{
    background-image: url('paysage.jpg');
    background-size: cover;
    text-align: left;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(9, 52, 28, 1);
    padding: 0px;
    text-align: center;
    font-size: 20px;
    z-index: 1000;
}

.navbar ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
    list-style-type: none;
}

.navbar li{
    height: 40px;
    margin: 20px 15px 20px 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex; 
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover{
    color: rgb(255, 205, 96);
}

.connexion{
    border: 2px solid white;
    border-radius: 10px;
}

.connexion:hover{
    border: 2px solid rgb(255, 205, 96);
}


.formulaire{
    text-align: center;
    font-family: arial;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    color: rgb(255, 205, 96);
    background-color: rgba(9, 52, 28,0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.formulaire h1{
    font-size:45px;
}

.formulaire input,button{
    font-size: 30px;
    width: 80%;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.formulaire button{
    margin: 10px 20px 30px 20px;
    font-size: 25px;
    background-color: rgb(255, 205, 96);
    color:white;
}

.formulaire input{
    margin: 20px 20px 10px 20px;
    font-size: 20px;
}

.utilisateur{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.liste_util{
    text-align: center;
    font-family: Arial;
    padding: 25px;
    width: 90%;
    margin: auto;
    margin-top: 10%;
    background-color: rgba(9, 52, 28,0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.liste_util h1{
    color:rgb(255, 205, 96);
    font-size: 45px;
}

.liste_util table{
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
}
.liste_util th, td{
    font-size:18px;
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: middle;
}
.liste_util th{
    background-color: rgb(255, 205, 96);
    color: white;
    text-align: center;
}

.vip:hover{
    color:rgb(255, 205, 96);
}

.ban:hover{
    color:rgb(255, 205, 96);
}
