/* Réglages de base */

body {
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

/* ----------------- ANTOINE ------------------ */

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(9, 52, 28, 1);
    padding: 0px;
    text-align: center;
    font-size: 20px;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
    list-style-type: none;
}

.navbar li {
	height: 40px;
	margin: 20px 15px 20px 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex; 
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
    color: rgb(255, 205, 96);
}

.connexion {
    border: 2px solid white;
    border-radius: 10px;
}

.connexion:hover {
    border: 2px solid rgb(255, 205, 96);
}

/* Image de fond + titre */

.fond {
    padding-top: 20px;
    background-image: url('montagne2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 120vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.titre {
    justify-content: center;
    align-items: center;
    margin: 250px auto;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
    background-color: rgba(9, 52, 28, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.titre h1 {
    margin:0px; 
    color: rgb(255, 205, 96);
    font-size: 90px; 
}

.titre p {
    margin: 0px; 
    color: white;
    font-size: 36px;
}

.recherche form {
	display: flex;
	width: 800px;
	margin: 70px auto;
}

.recherche input[type="search"] {
	flex: 1;
	width: 600px;
	height: 60px;
	padding: 8px;
	border: 1px solid rgba(9, 52, 28, 1);
	border-radius: 5px 0 0 5px;
}

.recherche button {
	padding: 8px;
	height: 60px;
	background-color: rgb(255, 205, 96, 1);
	color: white;
	border: 1px solid rgba(255, 205, 96, 1);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.recherche button:hover {
	background-color: rgba(9, 52, 28, 1);
	border: 1px solid rgba(9, 52, 28, 1);
}


/* Explication du site */

.content {
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.separateur {
    height: auto;
    font-size: 50px;
    color: rgba(9, 52, 28, 1);
}

.case {
    display: flex;
    margin: 25px auto;
    background-color: white;
    width: 70%;
    height: 150px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.case img {
    margin: 5px;
    width: 20%;
}

.case p {
    text-align: justify;
    margin: auto 10px;
    width: 80%;
}

.content h1 {
    color: rgba(9, 52, 28, 1);
}

/* Carte */

.destinations {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carte {
    position: relative;
    width: 1025px;
    height: 845px;
    background-image: url('carte.png');
    border: 2px solid #000;
}

.point {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 205, 96);
    border-radius: 50%;
    cursor: pointer;
}

.point::after {
    content: attr(data-name);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.point:hover::after {
    opacity: 1;
}

.point.alpes {top: 41%; left: 48.5%;}
.point.pyrenees {top: 42.5%; left: 46.5%;}
.point.himalaya {top: 48.5%; left: 70%;}
.point.oural {top: 33%; left: 63%;}
.point.caucase {top: 41.5%; left: 58.5%;}
.point.rocheuses {top: 42%; left: 14%;}
.point.andes {top: 64%; left: 27%;}
.point.appalaches {top: 43%; left: 25%;}
.point.carpates {top: 41%; left: 53.5%;}
.point.atlas {top: 47%; left: 46%;}
.point.alpes-japonaises {top: 45%; left: 85%;}
.point.alpes-sud {top: 75%; left: 93.5%;}

/* Barre d'information */

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(9, 52, 28, 1);
    color: white;
    width: 100%;
    height: 100px;
}

.info p {
    margin : 0px 25px;
}


/* ----------------- TOM ------------------ */


.formulaire{
    text-align: center;
    font-family: arial;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    color: rgb(255, 205, 96);
    background-color: rgba(9, 52, 28,0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.formulaire h1{
    padding-top: 20px;
    font-size:90px;
}

.formulaire input,.formulaire button{
    width: 80%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.formulaire button{
    margin: 10px 20px 30px 20px;
    font-size: 25px;
    background-color: rgb(255, 205, 96);
    color:white;
}

.formulaire input{
    margin: 20px 20px 10px 20px;
    font-size: 20px;
}

.utilisateur{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.liste_util{
    text-align: center;
    font-family: Arial;
    padding: 25px;
    width: 90%;
    margin: auto;
    margin-top: 10%;
    background-color: rgba(9, 52, 28,0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.liste_util h1{
    color:rgb(255, 205, 96);
    font-size: 90px;
}

.liste_util table{
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-color: #000;
    border-radius: 8px;
}
.liste_util th, .liste_util td{
    font-size:18px;
    padding: 10px;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.liste_util th{
    background-color: rgb(255, 205, 96);
    color: white;
    text-align: center;
}

.vip, .ban{
    font-size: 25px;
    border-radius: 8px;
    border-color: rgb(255, 205, 96);
    background-color: white;
    color:rgb(255, 205, 96);
}

.vip:hover{
    color:white;
    background-color: rgb(255, 205, 96);
}

.ban:hover{
    color:white;
    background-color: rgb(255, 205, 96);
}


/* ----------------- Manfred (page recherche) ------------------ */

.filterbox{
    color: rgb(0,0,0);
    width: 85%;  
    max-width: 1200px;  
    height: 5%;
    background-color: rgb(255, 255, 255);
    
  
    flex-direction: row;
    gap: 10%; 
    border-radius: 5px;
    outline-width: 5px;
    outline-color: black;

    margin-top: 1%;
    margin-left:10%;
    padding-bottom: 15px;

    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    

}


.filterbox ul{
    margin-top:1;
   
    padding-right:0%;
    margin-right: 5%;
    display:flex;
    flex-direction:row;
    
    list-style:none ;
    white-space: nowrap;
    gap: 50%;
    text-align: center;
    
}

.btn {
    background-color: rgb(255,255,255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.btn:hover{
    color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.annonces-container {
    margin-left: 0%;
    margin-top:4%;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
    justify-content: center;
}

.annonce {
    width: 200px;
    background: white;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom:8%;
}

.annonce img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.annonce p {
    margin-top: 10px;
    font-size: 14px;
    color: #000;
}

.annonce button{
    background-color: rgba(0,0,0,0);
    color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    width: 100%;
    height: 150px;
}

.annonce button:hover{
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0); 

}

.swpage{

    background-color: white;
    width: 10%;
    height: 5%;
   
    margin-top:2%;
    margin-left:45%;
    
    border-radius: 5%;
    place-items: center;
    margin-top:1%;
    display:flex;
    
}

.swpage button{
    background-color: rgba(9, 52, 28, 1);
    border: none;
    background-color: rgba(0,0,0,0);
    color: rgb(0, 0, 0);
    height : 10%;
    width: 35%;
    margin-top:4%;

}

.swpage button:hover{
    transform: scale(1.5);
    background-color: rgba(0, 0, 0, 0); 
}

.filter-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 4px;
}

.swpage img{
height: 50px;
width: 50px;  
}





/* ----------------- Manfred (page profil) ------------------ */


.text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 205, 96);
}

.aligné{
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.empilé{
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    align-items: center;
}

.bloc{
    display: center; 
    justify-content: center; 
    background-color: rgba(9, 52, 28,0.4);
    padding: 20px;
    gap: 200px;
    width: 15%;
    height: 85%;
    position: center;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;

}

.bloc3{
    display: right; 
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.09);
    padding: 20px;
    gap: 200px;
    border-radius: 5px;
    width: 100%;
    height: 85%;
    position: right;
    margin-top: 10px;
    margin-right:10px ;
    justify-items: center;
    
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.929);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.btn3 {
    background-color: rgba(9, 52, 28,0.4);
    color: rgba(255, 255, 255, 0.929);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    height: 60px;
    display: flex;
    justify-content: center;  
    align-items: center;
}


.btnbar {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 205, 96);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.modifier {
    background-color: rgba(9, 52, 28, 1);
    color: rgb(255, 205, 96);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.btn:hover {
    color: rgb(255, 205, 96);
}

.stylo{
    height: 30px;
    width: 30px;
    align-items: center;
}

.profiltitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:rgb(255, 205, 96);
}

.photodeprofil{
    height: 50%;
    width:50%;
}

.bloc3 li input{
    width: 500px;
    height: 1px;
    padding: 15px;
    margin: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.677);
}

.bloc3 ul{
    list-style-type: none;
}

.title{
    font-size:80px ;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
